body {
    margin: 0;
    padding: 0;
    color: #F2D785;
    background-color: #898989; /* Fondo gris oscuro en toda la página */
}
.top-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background-color: #d3d3d3; 
    border-bottom: 30px solid #A62424; /* Línea inferior de color coordinado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.top-image {
    width: 130px; 
    height: auto;
    border-radius: 8px; 
    transition: transform 0.3s ease;
}
.top-image:hover {
    transform: scale(1.05); 
}
.coche {
    position: absolute;
    top: 140px;
    left: 0;
    font-size: 1.5em; /* Tamaño más pequeño para ser más sutil */
    color: #ffcc00; /* Amarillo dorado para buen contraste */
    opacity: 0.9;
    display: none;
}

.coche.animate {
    display: block;
    animation: moverCoche 10s linear forwards;
}

@keyframes moverCoche {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-150vw);
    }
}

.contenedora {
    text-align: center;
    padding: 20px 0;
}
.texto {
    font-size: 1.2em;
    color: #f2d785;
    font-family: "Georgia", serif;
    margin-bottom: 10px;
}
#botonF100, #botonF1000 {
    width: 160px;
    height: 50px;
    font-size: 1em;
    font-weight: 700;
    color: #1f2421;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 2px solid #f2d785; 
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

#botonF100:hover, #botonF1000:hover {
    transform: scale(1.05); /* Efecto de agrandamiento */
    background-color: #f2d785; /* Fondo al pasar el cursor */
    color: #1f2421; /* Color de texto contrastante */
}
.side-image {
    position: fixed;
    top: 0;
    width: 150px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1f2421;
}
.left-image {
    left: 0;
}
.right-image {
    right: 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f2421;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ffcc00; /* Cambio de color cuando está activado */
}

input:checked + .slider:before {
    transform: translateX(26px);
}
