.contenedora{
	text-align: center;
	padding: 5em 0;
    padding-top: 20px;
}
.coche {
    position: absolute; /*Para que se quede la linea de coches arriba */
    top: 10px;
    left: -100px; /*Empieza desde fuera de la pantalla*/
    font-size: 2em;
    display: none; /*Para ocultar el coche en un principio */
}
.coche.animate {
    display: block;
    animation: moverCoche 10s linear forwards; 
}
@keyframes moverCoche {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-150vw);
    }
}
.texto{
	font-size: 36px ;
	font-family: "Times New Roman", Times, serif;
}
body {
    margin: 0;
    padding: 0;
    color: #F2D785;
    background-color:  #A62424;
    margin: 150; /*Margen para que el texto no quede centrado dentro del área roja*/
}
#botonF100 {
    width: 150px;         
    height: 50px;         
    font-size: 16px;      
    padding: 10px 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;    
    color:  #1f2421ff;
    background-image: url('boton.png'); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-color: transparent; 
    border: none;
}

#botonF1000 {
    /*width: 150px;         
    height: 50px;         
    font-size: 16px;     
    padding: 10px 20px;   
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: #eeeeeeff;
    background-color: #798086ff;
    */
    width: 150px;         
    height: 50px;         
    font-size: 16px;      
    padding: 10px 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;    
    color:  #1f2421ff;
    background-image: url('boton.png'); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-color: transparent; 
    border: none;
}

.side-image {
    position: fixed;
    top: 0;
    width: 150px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    background-color: #1f2421ff; 
    color: #333; /
}

/* Imagen izquierda */
.left-image {
    left: 0;
}

/* Imagen derecha */
.right-image {
    right: 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f2421ff;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
     background-color: #0088ff;
 }
input:checked + .slider:before {
    transform: translateX(26px);
}